:root {
    -pri-co: jj;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* header */
header {
    height: 67px;
    width: 100%;
    padding: 0 3%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* site-logo and menu */
header .left_side {
    width: 478px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* site logo */
header .left_side .site_logo {
    background: url(../img/site_logo.png) no-repeat center center / contain;
    height: 30px;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
}

header .left_side .site_logo:hover {
    transform: scale(1.2);

}

/* nav menu */

header .left_side nav ul {
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header .left_side nav ul li a {
    display: inline-block;
    color: #1D364D;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;

}

/* right side */
header .profile {
    width: 246px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* cart , notification and profile */
header .profile :where(i, img) {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: rgb(99, 41, 41);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* cart  */
header .profile i:first-child {
    background: #F5F1EE;
    color: #875541;
}

/* notification */
header .profile i:nth-child(2) {
    background: #EEEFF8;
    color: #101F37;
}


/* profile */
header .profile .profile_info p {
    font-size: 9px;
    font-weight: 500;
    color: #C0C3C6;
    margin-bottom: 5px;
}

header .profile .profile_info h3 {
    font-size: 12px;
    font-weight: 600;
    color: #002f5e;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    column-gap: 5px;
    margin-top: 20px;
    padding: 0 3%;
    justify-content: space-around;
}

.container .gallary {
    width: 447px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container .gallary .defualt {
    background-image: url('../img/product1/img-4.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 447px;
    height: 526px;
    border-radius: 20px;

}

.container .gallary .mult-gall {
    width: 447px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;

}



.container .gallary .mult-gall div {
    height: 78px;
    width: 78px;
    background: red;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;

}

.container .gallary .mult-gall div:first-child {
    background-image: url('../img/product1/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


.container .gallary .mult-gall div:nth-child(2) {
    background: url('../img/product1/img-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}

.container .gallary .mult-gall div:nth-child(3) {
    background: url('../img/product1/img-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}

.container .gallary .mult-gall div:last-child {
    background: url('../img/product1/img-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}


.container .product-info {
    width: 445px;
    height: 50vh;
    background: red;
}